<div class="container-fluid">
  <div class="row">
    <div id="TOBanner" class="col-4">
      <img src="{{getBannerUrl()}}">
    </div>
    <div id="TOSearch" class="col-4 align-self-end">
      <app-search></app-search>
    </div>
    <div id="TORightSide" class="col-4">
      <div id="TOSns" >
        <app-sns></app-sns>
      </div>
      <div id="TOLog">
        <app-log></app-log>
      </div>
    </div>
    <div id="TODash" class="col-12">
      <app-dash></app-dash>
    </div>
  </div>
</div>